<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>About</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
			<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" >
	<link href="https://fonts.googleapis.com/css?family=Dancing+Script|Lobster|Pacifico|Pathway+Gothic+One" rel="stylesheet">

	<link rel="stylesheet" href="../styles/style.css"/>
</head>
<body class="about">
	<header class="otherHeader">
		<div class="flex headerBannerFlex">
			<div><strong>Andrei</strong></div>
			<nav>
				<div class="fa fa-bars fa-2x"></div>
				<ul class="flex headerNavFlex mainNav">
					<li><a href="../index.html">Home</a></li>
					<li><a href="#">About</a></li>
					<li><a href="contact.html">Contact</a></li>
				</ul>
			</nav>
		</div>


		<div class="mainHeaderTitle">
			<h1>About</h1>
		</div>
	</header>
	<main >
		<div class="flex MyDescription wrapper aboutInfo">
			<div>
				<img class="MySelfPic1" src="../assets/andrei.jpg" alt="Andrei Freire">
			</div>
			<div>
				<h2>Background</h2>

				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

			</div>
		</div>
		<div class=" row aboutOne ">
			<h2>Education</h2>
			<div class="educationDesc wrapper">
				
				<div class="flex educFlex logos">
					<img class =" uottawaLogo" src="../assets/uottawaLogo.png" alt="uOttawa">
					<img class="elgLogo" src="../assets/electricalLogo.png" alt="engineering">
					<img class="codeLogo" src="../assets/codeLogo.jpg" alt="code">
				</div>
				<div class="flex educFlex">
					<div class="flexColumn educ" >
						
						<p>University Of Ottawa </p>
						<p>Summa Cum Laude</p>
						
					</div>
					<div class="flexColumn educ">
						<p>Bachelor of applied sciences in electrical engineer</p>
						<p>Minor in Business Management and Entreprenuership</p>
					</div>
					<div class="flexColumn educ">
						
						<p>Bachelor of science in computing technology</p>
					</div>
				</div>
				
			</div>
			
		</div>
		<div class=" row aboutTwo">
			<div class=" ExperienceDesc wrapper">
				<h2>Experience</h2>
				<div class="">
					<div><p>Perle Systems</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div>
					<div><p>Department of National Defence</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div>
					<div><p>Sonus Networks</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div>
				</div>
			</div>
			
		</div>
		<div class=" row aboutThree">
			
			<div class=" Project wrapper">
				<h2>Projects</h2>
				<div class="flex projFlex">
					<div class="projFlexItem"><p>Entrepeneurship</p>
						<ul class="aboutList">
							<li>simulated starting a company</li>
							<li>designing</li>
							<li>business Plan</li>
							<li>market research</li>
							<li>Financing</li>
						</ul>
					</div>
					<div class="projFlexItem"><p>Robotic Arm Project</p>
					<ul class="aboutList">
							<li>final year engineering project</li>
							<li>design</li>
							<li>create a prototype</li>
							<li>Work with a Client</li>
							<li>Contine updating and maintaince once project complete</li>
						</ul></div>
				</div>
			</div>
		</div>
		<div class="row aboutFour">
			<div class=" interestDesc wrapper">
				<h2>Interests</h2>
				<div class="flex interestFlex">
					<div class="interestFlexItem"><p>Artificial Intelligence and Machine Learning</p>
						<img src="../assets/aiPic.jpg" alt="Artificial Intelligence">
					</div>
					<div class="interestFlexItem"><p>
					Software Development</p>
					<img src="../assets/softwareDev.png" alt="software development">
				</div>
				</div>
			</div>
			
		</div>
		
	</main>
	<footer class="footer ">
		<div class="footerFlex wrapper">
			<div class="footerItem">
				<h5 class="">Creative Agency From London-UK</h5>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod </p>
				<div class="footerLogo">
					
				</div>
			</div>
			<div class="footerItem">
				<h5 class="footerTitle">Links</h5>
				<div class="smallLine"></div>
				<nav >
					<ul class="footerNav">
						<li><a href="../index.html">Home</a></li>
						<li><a href="#">About</a></li>
						<li><a href="contact.html">Contact</a></li>
					</ul>
				</nav>
			</div>
			<div class="footerItem">
				<h5 class="footerTitle">Twitter Widget</h5>
				<div class="smallLine"></div>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				</p>
			</div>
			<div class="footerItem insta">
				<h5 class="footerTitle">Instagram</h5>
				<div class="smallLine"></div>
                <div class="instagram flex">
                   
                </div>
			</div>
		</div>
		<div class="copyright flex wrapper">
        	<div>&copy; Walter Andrei Freire Ayora</div>
            <div class="social flex">
                <div><i class="fab fa-facebook-f"></i></div>
                <div><i class="fab fa-twitter"></i></div>
                <div><i class="fab fa-instagram"></i></div>
                <div><i class="fab fa-google-plus-g"></i></div>
            </div>
		</div>
	</footer>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" ></script>
	<script src="../scripts/main.js"></script>		
</body>
</html>