<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Andrei Freire</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" >
	<link href="https://fonts.googleapis.com/css?family=Dancing+Script|Lobster|Pacifico|Pathway+Gothic+One" rel="stylesheet">
	<link rel="stylesheet" href="../styles/style.css"/>
</head>
<body>
	<header class="otherHeader">
		<div class="flex headerBannerFlex">
			<div><strong>Andrei</strong></div>
			<nav>
				<div class="fa fa-bars fa-2x"></div>
				<ul class="flex headerNavFlex mainNav">
					<li><a href="../index.html">Home</a></li>
					<li><a href="about.html">About</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
			</nav>
		</div>

		<div class="mainHeaderTitle">
			<h1>Contact</h1>
		</div>
	</header>
	<main >
		<section class="flex contactDescription wrapper">
			<div>
				<img class="MySelfPic1" src="../assets/andrei.jpg" alt="Andrei Freire">
			</div>
			<div class="contactFormContainer">
				<div>Some Description</div>
				<form class="contactForm">
					<div class="flex ">
						<h6><strong>Name:</strong></h6>
							<input type="text" name="visitorName" placeholder="ex. John Smith">
						
					</div>
					<div class="flex">
						<h6><strong>Phone:</strong></h6>
							<input type="tel" name="visitorPhone" placeholder="ex. 647-555-5555">
						
					</div>
					<div class="flex">
						<h6><strong>email:</strong></h6>
							<input type="email" name="visitorEmail" placeholder="ex. jhonsmith@gmail.com">
						
					</div>
					<div class="flex">
						<h6><strong>Comment:</strong></h6>
							<textarea name="comment" cols="40" rows="5"></textarea>
						
					</div>
					<div class="submitButton">
						<button>Submit</button>
					</div>
				</form>
			</div>
		</section>


		
	</main>
	<footer class="footer ">
		<div class="footerFlex wrapper">
			<div class="footerItem">
				<h5 class="">Creative Agency From London-UK</h5>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod </p>
				<div class="footerLogo">
					
				</div>
			</div>
			<div class="footerItem">
				<h5 class="footerTitle">Links</h5>
				<div class="smallLine"></div>
				<nav >
					<ul class="footerNav">
						<li><a href="../index.html">Home</a></li>
						<li><a href="about.html">About</a></li>
						<li><a href="#">Contact</a></li>
					</ul>
				</nav>
			</div>
			<div class="footerItem">
				<h5 class="footerTitle">Twitter Widget</h5>
				<div class="smallLine"></div>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				</p>
			</div>
			<div class="footerItem insta">
				<h5 class="footerTitle">Instagram</h5>
				<div class="smallLine"></div>
                <div class="instagram flex">
                   
                </div>
			</div>
		</div>
		<div class="copyright flex wrapper">
        	<div>&copy; Walter Andrei Freire Ayora</div>
            <div class="social flex">
                <div><i class="fab fa-facebook-f"></i></div>
                <div><i class="fab fa-twitter"></i></div>
                <div><i class="fab fa-instagram"></i></div>
                <div><i class="fab fa-google-plus-g"></i></div>
            </div>
		</div>
	</footer>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" ></script>
	<script src="../scripts/main.js"></script>		
</body>
</html>