$Gray : #DBCFC0;
$LightBlue : #ABC1DB;
$DarkBlue: #3C5D70;
$RaisinBlack : #262626;
$Crimson : #AF0034;
$lobster: 'Lobster', cursive;
$pacifico: 'Pacifico', cursive;
$Dancing: 'Dancing Script', cursive;
$Normal: 'Pathway Gothic One', sans-serif;

.MySelfPic1{
	height:100%;
	border-radius: 100px;
	
}

.MyDescription{
	height:400px;
	margin:0 10%;
	margin-top: 10%;
	margin-bottom: 5%;
}
.columnTwo{
	height: 100%;
	background-color: black;
	//background: linear-gradient(to right,$Gray,black);
	display: flex;
	justify-content:space-between;
	color:white;
	
}
main section{
font-size:2rem;
}
main img {
	display: block;
	height:50vh;
	border-radius: 80px;
}

h2{
	margin-top: 0;
}

.row{
	display: flex;
	justify-content:space-between;
}


.technologyDesc{
	//padding-left: 10%;
	margin:0 !important;
	width:100%;
	background: linear-gradient(to right,$Gray,black);
	font-family: $Normal;
}

.techPicContainer{
	margin:0 !important;
	background-color: black;
	width:100%;
}



.businessPic{
	border-radius: 0;
	//height: 100%;
}

.businessDesc{
height: 100%;
background-color: rgba(255,255,255,0.8);
margin:0;
	//background: linear-gradient(to left,white,#f5f5f5);
}

.rowFour{
	background: url(../assets/fitness.png);
	height: 80vh;
	background-size: cover;
	background-attachment: fixed;
  	background-repeat: no-repeat;
  	color:white;
  	font-family: $Normal;

}

.rowThree{
	background: url(../assets/creativeai.gif);
	height: 80vh;
	background-size: cover;
	background-attachment: fixed;
  	background-repeat: no-repeat;
  	font-family: $Normal;
  	
}

.fitnessDesc{

	
}



