html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, footer, header, nav, section {
  display: block; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

figcaption, figure, main {
  display: block; }

figure {
  margin: 1em 40px; }

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace,monospace;
  font-size: 1em; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted; }

b, strong {
  font-weight: inherit; }

b, strong {
  font-weight: bolder; }

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

dfn {
  font-style: italic; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

audio, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button, input {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button; }

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: .35em .75em .625em; }

legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  display: inline-block;
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto; }

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details, menu {
  display: block; }

summary {
  display: list-item; }

canvas {
  display: inline-block; }

template {
  display: none; }

[hidden] {
  display: none; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  font-size: 62.5%;
  font-family: "Lobster", cursive;
  font-weight: 700;
  text-align: center; }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.flexColumn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.wrapper {
  max-width: 1140px;
  margin: 0 10%; }

header {
  background: url(../assets/main_Back.jpg);
  height: 75vh;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: 100%;
  margin: 0;
  position: relative;
  color: white;
  font-size: 3rem;
  padding-bottom: 1px; }

h1 {
  margin: 0;
  width: 100%; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

h4 {
  margin: 0;
  font-family: "Dancing Script", cursive; }

a {
  text-decoration: none; }

.headerBannerFlex {
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #262626;
  z-index: 9; }

.headerNavFlex {
  width: 400px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-right: 150px; }

.headerTitleFlex {
  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%; }

.headerNameFlex {
  padding: 0 10%;
  width: 40%; }

.AName {
  margin-left: 30%; }

.FName {
  margin-left: 70%; }

.headerOccFlex {
  width: 60%; }

.welcomeLogo {
  font-size: 4rem; }

.logoContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: none;
  height: 75vh;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: white;
  font-size: 10rem;
  font-family: "Dancing Script", cursive; }

.mainHeaderTitle {
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40vh;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: white;
  font-size: 6rem;
  font-family: "Dancing Script", cursive; }

.otherHeader {
  height: 40vh !important; }

.MySelfPic1 {
  height: 100%;
  border-radius: 100px; }

.MyDescription {
  height: 400px;
  margin: 0 10%;
  margin-top: 10%;
  margin-bottom: 5%; }

.columnTwo {
  height: 100%;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: white; }

main section {
  font-size: 2rem; }

main img {
  display: block;
  height: 50vh;
  border-radius: 80px; }

h2 {
  margin-top: 0; }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.technologyDesc {
  margin: 0 !important;
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#DBCFC0), to(black));
  background: -webkit-linear-gradient(left, #DBCFC0, black);
  background: -o-linear-gradient(left, #DBCFC0, black);
  background: linear-gradient(to right, #DBCFC0, black);
  font-family: "Pathway Gothic One", sans-serif; }

.techPicContainer {
  margin: 0 !important;
  background-color: black;
  width: 100%; }

.businessPic {
  border-radius: 0; }

.businessDesc {
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  margin: 0; }

.rowFour {
  background: url(../assets/fitness.png);
  height: 80vh;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: white;
  font-family: "Pathway Gothic One", sans-serif; }

.rowThree {
  background: url(../assets/creativeai.gif);
  height: 80vh;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: "Pathway Gothic One", sans-serif; }

.contactForm div {
  font-size: 3rem;
  text-align: left;
  margin: 5%;
  width: 500px; }

.contactForm button {
  margin: 5%; }

.contactForm label strong {
  width: 100px;
  margin-right: 20px; }

.contactDescription {
  height: 100%;
  margin: 0 10%;
  margin-top: 10%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.contactDescription img {
  height: 300px; }

h6 {
  width: 100px;
  margin: 0;
  padding-top: 6px; }

input {
  border: 1px #DBCFC0 solid;
  border-radius: 10px;
  height: 40px;
  width: 300px;
  font-size: 2rem;
  font-family: "Dancing Script", cursive; }

textarea {
  border: 1px #DBCFC0 solid;
  border-radius: 10px;
  height: 40px;
  width: 300px;
  font-size: 2rem;
  font-family: "Dancing Script", cursive; }

.comment {
  height: 100px;
  width: 400px; }

.contactform .flex {
  width: 300px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

footer {
  background-color: #262626;
  color: #ABC1DB;
  text-align: left;
  font-family: "Pathway Gothic One", sans-serif; }

.footerFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.footerItem {
  width: 25%;
  border-right: 1px solid #3a3a3a;
  padding-left: 10px;
  padding-right: 20px; }

.footerNav {
  text-decoration: none; }

.footerNav li {
  margin: 5%; }

.copyright {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 30px;
  font-size: 2rem; }

.footerLogo {
  width: 50%;
  text-align: left; }

.insta {
  border-right: 0; }

.social {
  margin-right: 5%; }

.social div {
  width: 40px; }
