html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, footer, header, nav, section {
  display: block; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

figcaption, figure, main {
  display: block; }

figure {
  margin: 1em 40px; }

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace,monospace;
  font-size: 1em; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted; }

b, strong {
  font-weight: inherit; }

b, strong {
  font-weight: bolder; }

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

dfn {
  font-style: italic; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

audio, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button, input {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button; }

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: .35em .75em .625em; }

legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  display: inline-block;
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto; }

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details, menu {
  display: block; }

summary {
  display: list-item; }

canvas {
  display: inline-block; }

template {
  display: none; }

[hidden] {
  display: none; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  font-size: 62.5%;
  font-family: "Lobster", cursive;
  font-weight: 700;
  text-align: center; }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.flexColumn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.wrapper {
  max-width: 1140px;
  margin: 0 10%; }

/* header css*/
header {
  background: url(../assets/main_Back.jpg);
  height: 75vh;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: 100%;
  margin: 0;
  position: relative;
  color: white;
  font-size: 3rem;
  padding-bottom: 1px; }

h1 {
  margin: 0;
  width: 100%; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

h4 {
  margin: 0;
  font-family: "Dancing Script", cursive; }

a {
  text-decoration: none; }

.headerBannerFlex {
  color: #DBCFC0;
  font-size: 6rem; }

a {
  color: #DBCFC0; }

/* unvisited link */
a:visited {
  color: #DBCFC0; }

/* visited link */
a:hover {
  color: #DBCFC0; }

/* mouse over link */
a:active {
  color: #DBCFC0; }

/* selected link */
.fa {
  display: none;
  cursor: pointer;
  font-size: 4rem; }

.showNav {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important; }

ul.mainNav li {
  margin-right: 2rem; }

ul.mainNav a {
  display: inline-block;
  height: 100%; }

.headerBannerFlex {
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #262626;
  z-index: 9; }

.headerNavFlex {
  width: 400px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-right: 150px; }

.headerTitleFlex {
  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%; }

.headerNameFlex {
  padding: 0 10%;
  width: 40%; }

.AName {
  margin-left: 30%; }

.FName {
  margin-left: 70%; }

.headerOccFlex {
  width: 60%; }

.welcomeLogo {
  font-size: 4rem; }

.logoConatinerInit {
  display: none; }

.logoContainer {
  position: absolute;
  top: 20%;
  left: 0;
  width: 100%;
  display: none;
  height: 75vh;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: white;
  font-size: 10rem;
  font-family: "Dancing Script", cursive; }

.welcomeText {
  font-size: 3rem;
  margin: 0; }

.mainHeaderTitle {
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40vh;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: white;
  font-size: 6rem;
  font-family: "Dancing Script", cursive; }

.otherHeader {
  height: 40vh !important; }

/* main index css*/
.MySelfPic1 {
  height: 100%;
  border-radius: 100px;
  padding-right: 10%; }

.MyDescription {
  height: 400px;
  margin: 0 10%;
  margin-top: 10%;
  margin-bottom: 10%; }

.columnTwo {
  height: 100%;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: white; }

main .secDiv {
  font-size: 2rem; }

main img {
  display: block;
  height: 50vh;
  border-radius: 80px; }

h2 {
  margin-top: 0; }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.technologyDesc {
  margin: 0 !important;
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#DBCFC0), to(black));
  background: -webkit-linear-gradient(left, #DBCFC0, black);
  background: -o-linear-gradient(left, #DBCFC0, black);
  background: linear-gradient(to right, #DBCFC0, black);
  font-family: "Pathway Gothic One", sans-serif; }

.techPicContainer {
  margin: 0 !important;
  background-color: black;
  width: 100%; }

.businessPic {
  border-radius: 0; }

.businessDesc {
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  margin: 0;
  padding: 0 10%; }

.rowFour {
  background: url(../assets/fitness.png);
  height: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: white;
  font-family: "Pathway Gothic One", sans-serif; }

.rowThree {
  background: url(../assets/creativeai.gif);
  height: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: "Pathway Gothic One", sans-serif; }

/* about page css*/
.about {
  font-size: 1.8rem; }

.about .aboutTwo {
  height: 450px;
  background-color: white;
  color: black;
  text-align: left; }

.aboutInfo {
  margin-bottom: 20%; }

.about .aboutThree {
  height: 300px;
  background-color: white;
  color: black; }

.about .aboutFour {
  height: 300px;
  background-color: white;
  margin-bottom: 5%; }

.about .aboutOne {
  height: 300px;
  background-color: white;
  color: black;
  margin-bottom: 40px; }

.educationDesc {
  width: 100%; }

.educationDesc img {
  height: 80px;
  text-align: center; }

.uottawaLogo {
  height: 100px;
  border-radius: 0; }

.logos {
  margin: 5% 0; }

.elgLogo {
  border-radius: 50%;
  margin-right: 17%; }

.codeLogo {
  border: 1px black solid;
  margin-right: 3%; }

.educ {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 250px; }

.educ p {
  margin: 0; }

.experienceDesc {
  height: 100%;
  text-align: left; }

.educFlex {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.Project {
  width: 100%; }

.projFlexItem {
  width: 50%; }

.projFlex {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.interestFlex {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.interestFlexItem {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.interestFlexItem img {
  border-radius: 0;
  height: 200px; }

.interestDesc {
  width: 100%; }

.aboutList {
  text-align: left;
  list-style-type: square; }

/* contact page css*/
.contactForm div {
  font-size: 3rem;
  text-align: left;
  margin: 5%;
  width: 500px; }

.descriptionContactForm {
  font-size: 2rem;
  font-weight: 10; }

.contactForm button {
  margin: 5%; }

.contactForm label strong {
  width: 100px;
  margin-right: 20px; }

.contactDescription {
  height: 100%;
  margin: 0 5%;
  margin-top: 10%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.contactDescription img {
  height: 300px; }

h6 {
  width: 100px;
  margin: 0;
  padding-top: 6px; }

input {
  border: 1px #DBCFC0 solid;
  border-radius: 10px;
  height: 40px;
  width: 300px;
  font-size: 2rem;
  font-family: "Dancing Script", cursive; }

textarea {
  border: 1px #DBCFC0 solid;
  border-radius: 10px;
  height: 40px;
  width: 300px;
  font-size: 2rem;
  font-family: "Dancing Script", cursive; }

.comment {
  height: 100px;
  width: 400px; }

.contactform .flex {
  width: 300px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.contactFormContainer {
  border: 1px #DBCFC0 solid;
  border-radius: 20px;
  margin-bottom: 5%;
  padding-top: 5%; }

.submitButton button {
  background-color: #ABC1DB;
  border-radius: 10px;
  height: 60px;
  width: 120px; }

.submitButton {
  text-align: center !important; }

/* responsive specific css*/
@media (max-width: 1300px) {
  .aboutInfo {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 50px; }
  .aboutInfo .MySelfPic1 {
    border-radius: 0;
    height: 300px; } }

@media (max-width: 830px) {
  .MyDescription {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .MySelfPic1 {
    border-radius: 0;
    height: 300px; }
  .MyDescription .description {
    height: 100%; }
  .rowThree {
    height: 400px; }
  .rowFour {
    height: 400px; }
  .columnTwo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    height: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .techPicContainer {
    width: 50%; }
  .technologyDesc {
    background: -webkit-gradient(linear, left bottom, left top, from(#DBCFC0), to(black));
    background: -webkit-linear-gradient(bottom, #DBCFC0, black);
    background: -o-linear-gradient(bottom, #DBCFC0, black);
    background: linear-gradient(to top, #DBCFC0, black);
    font-family: "Pathway Gothic One", sans-serif; }
  .about .row {
    display: block;
    height: 100%; }
  .educationDesc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 20px;
    height: 100%; }
  .uottawaLogo {
    height: 100px; }
  .elgLogo {
    width: 100px;
    margin-top: 20px;
    margin-left: 44px; }
  .codeLogo {
    width: 80px;
    margin-top: 20px;
    margin-right: 10px; }
  .educFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .logos {
    margin: 0; }
  .interestFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .interestFlex img {
    height: 200px;
    width: 250px; }
  .contactDescription {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .contactFormContainer {
    margin-top: 5%; }
  .interestFlexItem {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; } }

@media (max-width: 510px) {
  .contactFormContainer {
    width: 100%; }
  .contactForm .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .submitButton button {
    margin-right: 50%; } }

@media (max-width: 620px) {
  .logos {
    display: none; }
  .educFlex {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .educ {
    margin-bottom: 40px; }
  .projFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; } }

@media (max-width: 620px) {
  .rowThree, .rowFour {
    height: 100%; } }

@media (max-width: 560px) {
  .headerOccFlex {
    display: none; } }

@media (max-width: 750px) {
  ul.mainNav {
    position: fixed;
    top: 60px;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.8);
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    text-align: center;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  /* We need to add a class here to make the ul with the class of mainNav display block. We add it inside of the media query, so the styles only show up when the viewport is less than 767px wide */
  ul.mainNav.open {
    display: block; }
  ul.mainNav li {
    padding: 25px 0;
    font-size: 2rem; }
  ul.mainNav a {
    color: rgba(0, 0, 0, 0.8); }
  .fa {
    display: inline-block;
    margin-right: 28px; } }

/* footer css*/
footer {
  background-color: #262626;
  color: #DBCFC0;
  text-align: left;
  font-family: "Pathway Gothic One", sans-serif;
  font-size: 1.8rem; }

.footerFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.footerItem {
  width: 25%;
  border-right: 1px solid #3a3a3a;
  padding-left: 10px;
  padding-right: 20px; }

.footerNav {
  text-decoration: none; }

.footerNav li {
  margin: 5%; }

.copyright {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 30px;
  font-size: 2rem; }

.footerLogo {
  width: 50%;
  text-align: left; }

.insta {
  border-right: 0; }

.social {
  margin-right: 5%; }

.social div {
  width: 40px; }
