@import "setup";
$Gray : #DBCFC0;
$LightBlue : #ABC1DB;
$DarkBlue: #3C5D70;
$RaisinBlack : #262626;
$Crimson : #AF0034;

html , body {
	font-size: 62.5%;
	font-family: Montserrat;
	font-weight: 700;
	text-align: center;
}


.flex{
	display:flex;
}
.flexColumn{
	display: flex;
	flex-direction:column;
}

.wrapper {

    max-width: 1140px;
    margin: 0 auto;
}

@import "main_header";
@import "main_main";
@import "main_footer";