@import "setup";
$Gray : #DBCFC0;
$LightBlue : #ABC1DB;
$DarkBlue: #3C5D70;
$RaisinBlack : #262626;
$Crimson : #AF0034;
$lobster: 'Lobster', cursive;
$pacifico: 'Pacifico', cursive;
$Dancing: 'Dancing Script', cursive;
$Normal: 'Pathway Gothic One', sans-serif;

html , body {
	font-size: 62.5%;
	font-family: $lobster;
	font-weight: 700;
	text-align: center;
}


.flex{
	display:flex;
}
.flexColumn{
	display: flex;
	flex-direction:column;

}

.wrapper {

    max-width: 1140px;
    margin: 0 10%;
}

/* header css*/
@import "main_header";
/* main index css*/
@import "main_main";
/* about page css*/
@import "about";
/* contact page css*/
@import "contact";
/* responsive specific css*/
@import "responsive_style";
/* footer css*/
@import "main_footer";